{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('errors') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}